.products
  .products__wrapper
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug
    .products__item
      include ../../common/card-product-no-sale_no-margin.pug