section.collections.collections_list
  .collections__header.collections__header_list
    .collections__title.title.title_big
      h2 Коллекции
    .collections__panel
      button.collections__button.collections__button_active Sits: Cocktail & Design
      button.collections__button Gaber: Cucaracha 
      button.collections__button Benix: Style furniture
      button.collections__button NAP:  SYSTEM BEDS
  .collections__conteiner.conteiner
    .collections__inner

      .collections__cards.collections__cards_list
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug

      .collections__cards.collections__cards_list
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug

      .collections__cards.collections__cards_list
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug

      .collections__cards.collections__cards_list
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card_list.pug