.card-product
  a.card-product__inner(href="#")
    .card-product__image-wrapper
      img.card-product__image(src="./img/product.png", alt="продукт")
    .card-product__header Диван Jenny
    .card-product__dimensions 271×152×97×84/46 см
    .card-product__price 1 752 500 тг
    .card-product__sale(data-sale='') -
  a.card-product__button.button(href="#") Оставить заявку