aside.category
  .category__inner
    ul.category__list
      li
        a(href="#")
          svg
            use(xlink:href="./img/sprite.svg#sofa")
          span Диваны
      li
        a(href="#")
          svg
            use(xlink:href="./img/sprite.svg#chair")
          span Стулья
      li
        a(href="#")
          svg
            use(xlink:href="./img/sprite.svg#armchair")
          span Кресла
      li
        a(href="#")
          svg
            use(xlink:href="./img/sprite.svg#bad")
          span Кровати
      li
        a(href="#")
          svg
            use(xlink:href="./img/sprite.svg#table")
          span Столы
      li
        a(href="#")
          svg
            use(xlink:href="./img/sprite.svg#cupboard")
          span Корпусная мебель
      li
        a(href="#")
          svg
            use(xlink:href="./img/sprite.svg#accessories")
          span Аксессуары