aside.category
  .category__inner
    ul.category__list
      li
        a(href="#")
          img(src="./img/sofa.svg", alt="диваны")
          span Диваны
      li
        a(href="#")
          img(src="./img/chair.svg", alt="стулья")
          span Стулья
      li
        a(href="#")
          img(src="./img/armchair.svg", alt="кресла")
          span Кресла
      li
        a(href="#")
          img(src="./img/bad.svg", alt="кровати")
          span Кровати
      li
        a(href="#")
          img(src="./img/table.svg", alt="столы")
          span Столы
      li
        a(href="#")
          img(src="./img/cupboard.svg", alt="корпусная мебель")
          span Корпусная мебель
      li
        a(href="#")
          img(src="./img/accessories.svg", alt="аксессуары")
          span Аксессуары