.collection-card.collection-card_header
      a.collection-card__cover-side(href="collection.html")
        span.collection-card__image-wrapper
          img.collection-card__image(src="./img/collections-bg.jpg", alt="промо фото товара")
        span.collection-card__brand
          img.collection-card__brand-img(src="./img/logo-sits.svg", alt="logo sits")
          span.collection-card__about-collection Коллекция Cocktail & Design - ПРОЖИВИТЕ ЖИЗНЬЮ, КОТОРАЯ ВАМ НРАВИТСЯ.
          span.collection-card__link.arrow-link.arrow-link_little Подробней