.collection-card
      .collection-card__cover-side
        .collection-card__image-wrapper
          img.collection-card__image(src="./img/collections-bg.jpg", alt="промо фото товара")
        .collection-card__brand
          img.collection-card__brand-img(src="./img/logo-sits.svg", alt="logo sits")
          span.collection-card__about-collection Коллекция Cocktail & Design - ПРОЖИВИТЕ ЖИЗНЬЮ, КОТОРАЯ ВАМ НРАВИТСЯ.
          a.collection-card__link.arrow-link.arrow-link_little(href="collection.html") Подробней
      .collection-card__info-side
        .collection-card__wrapper
          include card-product_collection.pug