aside.down-bar.js_lock-padding
  .down-bar__inner
    ul.down-bar__list
      li
        a(href="catalog.html")
          svg
            use(xlink:href="./img/sprite.svg#armchair")
          span Каталог
      li
        a.js_popup-link(href="#popup-finder")
          svg
            use(xlink:href="./img/sprite.svg#find")
          span Поиск
      li
        a(href="address.html")
          svg
            use(xlink:href="./img/sprite.svg#address")
          span Адрес
      li
        a(href="tel:+77272247050")
          svg
            use(xlink:href="./img/sprite.svg#phone")
          span Позвонить
      li
        a(href="https://wa.me/+77272247050")
          svg
            use(xlink:href="./img/sprite.svg#write")
          span Написать