header.header
  .header__conteiner.conteiner
    .header__inner
      .header__logo
      nav.header__nav
        ul.header__nav-list
          li.header__nav-item.header__nav-item_active Каталог
          li.header__nav-item Коллекции
          li.header__nav-item Товары со скидкой
          li.header__nav-item О компании
          li.header__nav-item Контакты
          li.header__nav-item Доставка и оплата
      .header__translator
        button.header__translator-btn.header__translator-btn_active ru
        button.header__translator-btn en
      a.header__find(href="#")
      .header__connection
        .header__adress
          .header__adress-first 1
          .header__adress-second 2
          .header__hours 3
        a.header__phone(href="tel:+77272247050") +7 727 224 70 50
