header.header
  .header__conteiner.conteiner
    .header__inner
      a.header__logo(href="../index.html")
        img.header__logo-img(src="./img/logo.svg", alt="logo i'house")
      nav.header__nav
        ul.header__nav-list
          li
            a._active(href="#") Каталог
          li
            a(href="#") Коллекции
          li
            a(href="#") Товары со скидкой
          li
            a(href="#") О компании
          li
            a(href="#") Контакты
          li
            a(href="#") Доставка и оплата
      .header__translator
        button.header__translator-btn.header__translator-btn_active ru
        button.header__translator-btn en
      a.header__find(href="#")
      .header__connection
        .header__adress
          a.header__adress-first(href="#") ​г. Алматы, пр-т Жибек Жолы, 135​, ТЦ Жибек Жолы​, 3 этаж; бутик C25/26 
          a.header__adress-second(href="#") ​г. Нур-Султан, пр-т Жибек Жолы, 135​, ТЦ Жибек Жолы​, 3 этаж; бутик C25/26 
          .header__hours Часы работы: 9:00 - 22:00
        a.header__phone(href="tel:+77272247050") +7 727 224 70 50
