header.header
  .header__conteiner.conteiner
    .header__inner
      a.header__logo(href="./index.html")
        img.header__logo-img(src="./img/logo.svg", alt="logo i'house")
      nav.header__nav
        ul.header__nav-list
          li
            a.js_popup-link(href="#popup-category") Каталог
          li
            a(href="collection.html") Коллекции
          li
            a(href="catalog.html") Товары со скидкой
          li
            a(href="about.html") О компании
          li
            a(href="address.html") Контакты
          li.header__pseudo-item.pseudo-item
            a(href="#").pseudo-item__link Доставка и оплата
            .pseudo-item__modal
              .pseudo-item__part.pseudo-item__part_delivery
                .pseudo-item__text
                  p - Осуществляем доставку по всему Казахстану (условия оговариваются индивидуально)
                  p - Самовывоз 
                  a(href="address.html") Смотреть адрес
              .pseudo-item__part.pseudo-item__part_pay
                .pseudo-item__text
                  p - Наличный расчет
                  p - Безналичный расчет
                  p - Оплата по счету
      .header__translator
        button.header__translator-btn.header__translator-btn_active ru
        button.header__translator-btn en
      a.header__find.js_popup-link(href="#popup-finder")
      .header__connection
        .header__adress
          a.header__adress-first(href="address.html") ​г. Алматы, пр-т Жибек Жолы, 135​, ТЦ Жибек Жолы​, 3 этаж; бутик C25/26 
          a.header__adress-second(href="address.html") ​г. Нур-Султан, пр-т Жибек Жолы, 135​, ТЦ Жибек Жолы​, 3 этаж; бутик C25/26 
          .header__hours Часы работы: 9:00 - 22:00
        a.header__phone(href="tel:+77272247050") +7 727 224 70 50
