.invitation
  h2.invitation__title Нет возможности <br> приехать к нам в <br> студию?
  span.invitation__text Оставьте заявку на интересующую модель и наши консультанты проведут демонстрацию товара по видеосвязи!
  .invitation__buttons
    a.invitation__button.button.button_wide(href="#") Заказать консультацию
    a.invitation__link.arrow-link.arrow-link_litte(href="catalog.html") В каталог