doctype html
html(lang="ru")
    block head
        head
            meta(charset="utf-8")
            title I'House
            meta(content="width=device-width, initial-scale=1" name="viewport")
            meta(content="ie=edge" http-equiv="x-ua-compatible")
            link(rel="stylesheet" href="css/style.css")
    body
        block header
            include header
        block category
            include category
        block content
        block footer
            include footer
        block move-up
            include move-up
        block popups
            include popups
        block scripts
            script(src='js/libs/jquery/dist/jquery.min.js')
            script(src='js/libs/slick-slider/slick.min.js')
            script(src='js/libs/range/ion.rangeSlider.min.js')
            script(src='js/libs/magnific/magnific-popup.min.js')
            script(src='js/main.min.js')
            script(src='https://apps.elfsight.com/p/platform.js', defer)
