.main-message
  .main-message__bg
  .main-message__inner
    .main-message__title.title.title_huge
      h1 Спасибо!
    .main-message__text
      p Ваша заявка принята! <br> В течение 20 минут наш менеджер перезвонит вам!
    a.main-message__button.button(href="index.html") На главную