.main-message
  .main-message__bg
  .main-message__inner
    .main-message__title.title.title_huge
      h1 404
    .main-message__text
      p Сожалеем. <br> Данная страница еще не написана или вы ошиблись.
    a.main-message__button.button(href="index.html") На главную