.pagination
    .pagination__slider
      .pagination__arrow.pagination__arrow_prev
      a.pagination__item(href="catalog.html") 1
      a.pagination__item.pagination__item_active(href="catalog.html") 2
      a.pagination__item(href="catalog.html") 3
      .pagination__arrow.pagination__arrow_next