//- #popup-category.popup
//-   .popup__body
//-     .popup__content
//-       a.popup__close(href="#") +
//-       .popup__title Это модальное окно #popup-name
//-       .popup__text здесь размещается какой-то контент