//popup-category
#popup-category.popup
  .popup__body
    .popup__content
      a.popup__close(href="#")
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Мягкая мебель
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='2') Диваны
          li
            a(href="catalog.html", data-count='10') Угловые диваны
          li
            a(href="catalog.html", data-count='4') Диваны-кровати
          li
            a(href="catalog.html", data-count='2') Кресла
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Стулья
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='18') Барные стулья
          li
            a(href="catalog.html", data-count='18') Стулья для гостиной
          li
            a(href="catalog.html", data-count='') Кухонные стулья
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Спальня
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='18') Кровати
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='18') Матрасы
          li
            a(href="catalog.html", data-count='') Комоды
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Столы
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='18') Обеденные
      //-card
      .popup__category-card.popup__category-card_phantom
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Хранение
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Детская
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Офис
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Текстиль
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Ковры
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи

//popup-finder
#popup-finder.popup
  .popup__body
    .popup__content.popup__content_small.popup__content_blue
      a.popup__close.popup__close_near(href="#")
      form(action="#")
        .popup__finder-input-wrapper
          input.popup__finder-input.js_focus(placeholder='Введите свой запрос')
          img.popup__finder-input-icon(src="./img/magnifier.svg", alt="поиск")

//popup-delivery
#popup-delivery.popup
  .popup__body
    .popup__content.popup__content_delivery-grid
      a.popup__close.popup__close_near(href="#")
      .popup__delivery-title.title.title_big
        h2 Доставка и оплата
      .popup__delivery-wrapper
        img.popup__delivery-icon(src="./img/car.svg", alt="icon")
        .popup__delivery-list
          p.popup__delivery-item - Осуществляем доставку по всему Казахстану (условия оговариваются индивидуально)
          p.popup__delivery-item
            span - Самовызов.
            a(href="address.html") &nbsp;Смотреть адреса
          a.popup__delivery-item.arrow-link(href="address.html") Подробней
    .popup__content.popup__content_blue.popup__content_delivery-grid
      .popup__delivery-wrapper.popup__delivery-wrapper_pay
        img.popup__delivery-icon(src="./img/pay-cards.svg", alt="icon")
        .popup__delivery-list
          p.popup__delivery-item - Наличный расчет
          p.popup__delivery-item - Безналичный расчет
          p.popup__delivery-item - Оплата по счету

//popup-policy
#popup-policy.popup
  .popup__body
    .popup__content.popup__content_delivery-grid
      a.popup__close.popup__close_near(href="#")
      .popup__policy
        .popup__policy-title.title.title_big
          h2 Политика конфиденциальности
        .popup__policy-text-box
          .popup__policy-item
            .popup__policy-text Соблюдение Вашей конфиденциальности важно для нашей компании. Поэтому мы разработали Политику Конфиденциальности, которая описывает, как используется и хранится Ваша информация. Пожалуйста, ознакомьтесь и сообщите нам, если у Вас возникнут какие-либо вопросы.
          .popup__policy-item
            .popup__policy-title Сбор и использование персональной информации
            .popup__policy-text Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним. От Вас может быть запрошено предоставление персональной информации в любой момент, когда Вы связываетесь с нами.
          .popup__policy-item
            .popup__policy-title Какую персональную информацию мы собираем
            .popup__policy-text Когда Вы оставляете заявку на сайте, мы можем собирать различную информацию, включая Ваше имя, номер телефона, адрес электронной почты и т.д.
          .popup__policy-item
            .popup__policy-title Как мы используем Вашу персональную информацию
            .popup__policy-text Персональная информация позволяет нам сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях. Время от времени мы можем использовать Вашу персональную информацию для отправки важных уведомлений и сообщений. Мы также можем использовать персональную информацию для внутренних целей: проведения аудита, анализа данных и различных исследований в целях улучшения услуг. Если Вы принимаете участие в розыгрыше призов или конкурсе, мы можем использовать информацию для управления такими программами.
          .popup__policy-item
            .popup__policy-title Раскрытие информации третьим лицам
            .popup__policy-text Мы не раскрываем полученную от Вас информацию третьим лицам.
          .popup__policy-item
            .popup__policy-title Исключения
            .popup__policy-text В соответствии с законом, судебным порядком, в судебном разбирательстве и/или на основании публичных запросов или запросов от государственных органов на территории РК. Мы также можем раскрывать информацию о Вас, если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка или иных общественно важных случаях. В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.
          .popup__policy-item
            .popup__policy-title Защита персональной информации
            .popup__policy-text Мы предпринимаем меры предосторожности, включая административные, технические и физические для защиты Вашей персональной информации от утраты, кражи и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.
          .popup__policy-item
            .popup__policy-title Соблюдение Вашей конфиденциальности на уровне компании
            .popup__policy-text Чтобы убедиться, что Ваша персональная информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших сотрудников и строго следим за исполнением мер соблюдения конфиденциальности.
