//popup-category
#popup-category.popup
  .popup__body
    .popup__content
      a.popup__close(href="#")
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Мягкая мебель
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='2') Диваны
          li
            a(href="catalog.html", data-count='10') Угловые диваны
          li
            a(href="catalog.html", data-count='4') Диваны-кровати
          li
            a(href="catalog.html", data-count='2') Кресла
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Стулья
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='18') Барные стулья
          li
            a(href="catalog.html", data-count='18') Стулья для гостиной
          li
            a(href="catalog.html", data-count='') Кухонные стулья
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Спальня
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='18') Кровати
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='18') Матрасы
          li
            a(href="catalog.html", data-count='') Комоды
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Столы
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='18') Обеденные
      //-card
      .popup__category-card.popup__category-card_phantom
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Хранение
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Детская
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Офис
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Текстиль
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи
      //-card
      .popup__category-card
        a.popup__category-title(href="catalog.html", data-count='18') Ковры
        ul.popup__category-stuck
          li
            a(href="catalog.html", data-count='') Шкафы
          li
            a(href="catalog.html", data-count='') Комоды
          li
            a(href="catalog.html", data-count='') Полки
          li
            a(href="catalog.html", data-count='') Стеллажи

//popup-finder
#popup-finder.popup
  .popup__body
    .popup__content.popup__content_small.popup__content_blue.popup__content_delivery-grid
      a.popup__close.popup__close_near(href="#")
      form(action="#")
        .popup__finder-input-wrapper
          input.popup__finder-input.js_focus(placeholder='Введите свой запрос')
          img.popup__finder-input-icon(src="./img/magnifier.svg", alt="поиск")

//popup-delivery
#popup-delivery.popup
  .popup__body
    .popup__content.popup__content_delivery-grid.popup_delivery
      a.popup__close.popup__close_near(href="#")
      .popup__delivery-title.title.title_big
        h2 Доставка и оплата
      .popup__delivery-wrapper
        img.popup__delivery-icon(src="./img/car.svg", alt="icon")
        .popup__delivery-list
          p.popup__delivery-item - Осуществляем доставку по всему Казахстану (условия оговариваются индивидуально)
          p.popup__delivery-item
            span - Самовызов.
            a(href="address.html") &nbsp;Смотреть адреса
          a.popup__delivery-item.arrow-link(href="address.html") Подробней
    .popup__content.popup__content_blue.popup__content_delivery-grid.popup__content_delivery
      .popup__delivery-wrapper.popup__delivery-wrapper_pay
        img.popup__delivery-icon(src="./img/pay-cards.svg", alt="icon")
        .popup__delivery-list
          p.popup__delivery-item - Наличный расчет
          p.popup__delivery-item - Безналичный расчет
          p.popup__delivery-item - Оплата по счету

//popup-policy
#popup-policy.popup
  .popup__body
    .popup__content.popup__content_delivery-grid
      a.popup__close.popup__close_near(href="#")
      .popup__policy
        .popup__policy-title.title.title_big
          h2 Политика конфиденциальности
        .popup__policy-text-box
          .popup__policy-item
            .popup__policy-text Соблюдение Вашей конфиденциальности важно для нашей компании. Поэтому мы разработали Политику Конфиденциальности, которая описывает, как используется и хранится Ваша информация. Пожалуйста, ознакомьтесь и сообщите нам, если у Вас возникнут какие-либо вопросы.
          .popup__policy-item
            .popup__policy-title Сбор и использование персональной информации
            .popup__policy-text Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с ним. От Вас может быть запрошено предоставление персональной информации в любой момент, когда Вы связываетесь с нами.
          .popup__policy-item
            .popup__policy-title Какую персональную информацию мы собираем
            .popup__policy-text Когда Вы оставляете заявку на сайте, мы можем собирать различную информацию, включая Ваше имя, номер телефона, адрес электронной почты и т.д.
          .popup__policy-item
            .popup__policy-title Как мы используем Вашу персональную информацию
            .popup__policy-text Персональная информация позволяет нам сообщать об уникальных предложениях, акциях и других мероприятиях и ближайших событиях. Время от времени мы можем использовать Вашу персональную информацию для отправки важных уведомлений и сообщений. Мы также можем использовать персональную информацию для внутренних целей: проведения аудита, анализа данных и различных исследований в целях улучшения услуг. Если Вы принимаете участие в розыгрыше призов или конкурсе, мы можем использовать информацию для управления такими программами.
          .popup__policy-item
            .popup__policy-title Раскрытие информации третьим лицам
            .popup__policy-text Мы не раскрываем полученную от Вас информацию третьим лицам.
          .popup__policy-item
            .popup__policy-title Исключения
            .popup__policy-text В соответствии с законом, судебным порядком, в судебном разбирательстве и/или на основании публичных запросов или запросов от государственных органов на территории РК. Мы также можем раскрывать информацию о Вас, если мы определим, что такое раскрытие необходимо или уместно в целях безопасности, поддержания правопорядка или иных общественно важных случаях. В случае реорганизации, слияния или продажи мы можем передать собираемую нами персональную информацию соответствующему третьему лицу – правопреемнику.
          .popup__policy-item
            .popup__policy-title Защита персональной информации
            .popup__policy-text Мы предпринимаем меры предосторожности, включая административные, технические и физические для защиты Вашей персональной информации от утраты, кражи и недобросовестного использования, а также от несанкционированного доступа, раскрытия, изменения и уничтожения.
          .popup__policy-item
            .popup__policy-title Соблюдение Вашей конфиденциальности на уровне компании
            .popup__policy-text Чтобы убедиться, что Ваша персональная информация находится в безопасности, мы доводим нормы соблюдения конфиденциальности и безопасности до наших сотрудников и строго следим за исполнением мер соблюдения конфиденциальности.

//popup-feedback
#popup-feedback.popup
  .popup__body
    .popup__content.popup__content_delivery-grid
      a.popup__close.popup__close_near(href="#")
      .popup__feedback
        .popup__feedback-header
          .popup__feedback-title
          .popup__feedback-subtitle Заполните форму и мы свяжемся с вами!
        form.popup__feedback-form(action="#")
          //при открытии поле .popup__product-name получает имя продукта с карточки
          input.popup__product-name(type='text' readonly name='product-name')
          input.popup__feedback-input.js_req(type="text" placeholder='Имя*' name='name')
          input.popup__feedback-input.js_req(type="text" placeholder='Телефон*' name='phone')
          button.popup__feedback-submit.button.button_max-wide(type='submit') Оставить заявку
          a.popup__feedback-nextlink(href="thanks.html")
//popup-feedback-consultation
#popup-feedback-consultation.popup
  .popup__body
    .popup__content.popup__content_delivery-grid
      a.popup__close.popup__close_near(href="#")
      .popup__feedback.popup__feedback_consultation
        .popup__feedback-header
          .popup__feedback-title Закажите онлайн консультацию
        form.popup__feedback-form(action="#")
          input.popup__product-name(type='text' readonly name='product-name')
          input.popup__feedback-input.js_req(type="text" placeholder='Имя*' name='name')
          input.popup__feedback-input.js_req(type="text" placeholder='Телефон*' name='phone')
          button.popup__feedback-submit.button.button_max-wide(type='submit') Заказать консультацию
          a.popup__feedback-nextlink(href="thanks.html")

//popup-thx
#popup-thx.popup.js_close
  .popup__body
    .popup__content.popup__content_delivery-grid.popup__content_blue
      a.popup__close.popup__close_near(href="#")
      .popup__thx-wrapper
        .popup__thx-header Спасибо!
        .popup__thx-message Ваши данные получены.

////filters
//popupnotification
#popup-notification-filter.notification
//popup-main-filter
#popup-main-filter.popup.popup_filter
  .popup__body
    .popup__content.popup__content_filter
      .popup__filter-header
        a.popup__close(href="#") Фильтр
      ul.popup__filter-list
        li
          a.js_popup-link(href="#popup-filter-category") Категория
        li
          a.js_popup-link(href="#popup-filter-brands") Бренды
        li
          a.js_popup-link(href="#popup-filter-availability") Наличие
        li
          a.js_popup-link(href="#popup-filter-price") Диапазон цен

//popup-filter-category
#popup-filter-category.popup.popup_filter
  .popup__body
    .popup__content.popup__content_filter
      .popup__filter-header
        a.popup__close.js_popup-link(href="#popup-main-filter") Категории
      ul.popup__filter-list
        li
          button Мягкая мебель
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Стулья
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Столы
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Спальня
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Хранение
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Детская
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Офис
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Текстиль
          a.js_popup-link(href="#popup-filter-category-inner") Все
        li
          button Ковры
          a.js_popup-link(href="#popup-filter-category-inner") Все
#popup-filter-category-inner.popup.popup_filter
  .popup__body
    .popup__content.popup__content_filter
      .popup__filter-header
        a.popup__close.js_popup-link(href="#popup-filter-category") Мягкая мебель
      ul.popup__filter-list
        li
          button Диваны
        li
          button Угловые диваны
        li
          button Диваны-кровати 
        li
          button Кресла

#popup-filter-brands.popup.popup_filter
  .popup__body
    .popup__content.popup__content_filter
      .popup__filter-header
        a.popup__close.js_popup-link(href="#popup-main-filter") Бренды
      ul.popup__filter-list
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Sits
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Gaber
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Benix
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Nap
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Subtila
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Midj
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Noctis
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Nicoline
        li
          label
            input.js_filter-chb(type="checkbox" name='brand')
            span
            | Fameg

#popup-filter-availability.popup.popup_filter
  .popup__body
    .popup__content.popup__content_filter
      .popup__filter-header
        a.popup__close.js_popup-link(href="#popup-main-filter") Наличие
      ul.popup__filter-list
        li
          label
            input.js_filter-chb(type="checkbox" name='availability')
            span
            | В наличии
        li
          label
            input.js_filter-chb(type="checkbox" name='availability')
            span
            | На заказ
        li
          label
            input.js_filter-chb(type="checkbox" name='availability')
            span
            | Ожидается поступление
        li
          label
            input.js_filter-chb(type="checkbox" name='availability')
            span
            | Ожидается поступление

#popup-filter-price.popup.popup_filter
  .popup__body
    .popup__content.popup__content_filter
      .popup__filter-header
        a.popup__close.js_popup-link(href="#popup-main-filter") Диапазон цен
      .popup__filter-price-box
        .shift-widget
          .shift-widget__body.shift-widget__body_filters
            .shift-widget__line.shift-widget__line_flex
              .shift-widget__input-wrapper
                label.shift-widget__label(for="filter-price_before") от
                input.shift-widget__input.js_price-before(type="number", placeholder='0', id='filter-price_before', value='0')
                label.shift-widget__currency(for="filter-price_before") ₸
              .shift-widget__input-wrapper
                label.shift-widget__label(for="filter-price_after") до
                input.shift-widget__input.js_price-after(type="number", placeholder='0', id='filter-price_after', value='0')
                label.shift-widget__currency(for="filter-price_after") ₸
            .shift-widget__line
              .shift-widget__ranger-wrapper
                input.shift-widget__ranger.js_price-range(type="text", data-min="5000", data-max="185000", data-step="1000")