section.product-slider
  .product-slider__conteriner.conteiner
    .product-slider__inner
      a.product-slider__title.title(href="catalog.html")
        h2 Вас также заинтересует
      .product-slider__card-box
        .product-slider__card-box-inner
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug