section.product-slider
  .product-slider__conteriner.conteiner
    .product-slider__inner
      a.product-slider__title.title(href="#")
        h2 Товары со скидкой
      .product-slider__card-box
        .product-slider__card-box-inner
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug
          .product-slider__card
            include card-product-no-sale.pug