.card
  .card__wrapper
    #map.card__card
    .card__info
      .card__info-item
        .card__info-header Адрес:
        .card__info-text г. Алматы, пр. Жибек Жолы, 135/10а, 3 этаж (пересечение пр. Жибек Жолы и ул. Масанчи)
      .card__info-item
        .card__info-header Телефоны:
        .card__info-text
          a(href="tel:+77172487050") +7 717 248 7050
          a(href="tel:+77272247050") +7 727 224 7050
      .card__info-item
        .card__info-header E-mail:
        .card__info-text
          a(href="tomail:info@ihouse.com.kz") info@ihouse.com.kz