.feedback
  .feedback__conteiner.conteiner
    .feedback__inner
      .feedback__main
        .feedback__header У вас есть вопросы или предложения?
        .feedback__call Заполните форму ниже
        form#form.feedback__form(action="#")
          .feedback__form-grid
            input.feedback__form-item.feedback__form-item_name.js_req(type="text", name = 'name', placeholder = 'Имя*')
            input.feedback__form-item.feedback__form-item_email.js_email.js_req(type="text", name='email', placeholder = 'e-mail*')
            input.feedback__form-item.feedback__form-item_phone.js_req(type="text", name = 'phone', placeholder = 'телефон*')
            textarea.feedback__form-item.feedback__form-item_comment(name = 'message', placeholder = 'Комментарий')
          button.feedback__submit.button(type="submit") Отправить
          a.js_popup-thx.js_popup-link(href="#popup-thx")
      .feedback__invatation
        include ../../common/invation.pug
        .feedback__cover