.team
  .team__conteiner.conteiner
    .team__inner
      .team__person
        .team__position Директор
        .team__name Дайва Михаловскиене
        a.team__link(href="tel:+7775888087") +7 775 888 8087
        a.team__link(href="tomail:daiva@ihouse.com.kz") daiva@ihouse.com.kz
      .team__person
        .team__position Менеджер проектов
        .team__name Динара Жанекенова
        a.team__link(href="tel:+77073111552") +7 707 311 15 52
        a.team__link(href="tomail:salon@ihouse.com.kz") salon@ihouse.com.kz
      .team__person
        .team__position Менеджер проектов
        .team__name Акмоншак Сыргабай
        a.team__link(href="tel:+77787458345") +7 778 745 8345





