section.about-us
  .about-us__info-side
    .about-us__header
      img.about-us__logo(src="./img/logo-white.svg", alt="logo i'house")
    .about-us__info
      h2.about-us__title I'HOUSE Studio of Furniture
      .about-us__thesis
        h3.about-us__thesis-title Эксклюзивность
        span.about-us__thesis-description Являемся прямым поставщиком знаменитых европейских производителей на территории Казахстана.
      .about-us__thesis
        h3.about-us__thesis-title Высокое качество
        span.about-us__thesis-description Поставляем продукцию проверенных годами производителей мебели и имеем все сертификаты, подтверждающие качество.
      .about-us__thesis
        h3.about-us__thesis-title Экологичность
        span.about-us__thesis-description Вся мебель производится из экологичных материалов.
      .about-us__thesis
        h3.about-us__thesis-title Наша цель – привнести в вашу жизнь и ваш дом комфорт, уют и красоту!
  .about-us__cover-side
    .about-us__bg
    .about-us__invitation
      h2.about-us__invation-title Нет возможности приехать к нам в студию?
      span.about-us__invation-text Оставьте заявку на интересующую модель и наши консультанты проведут демонстрацию товара по видеосвязи!
      .about-us__buttons
        a.about-us__button.button.button_wide(href="#") Заказать консультацию
        a.about-us__link.arrow-link.arrow-link_litte(href="#") В каталог