section.brand-slider
  //- .brand-slider__conteiner.conteiner
  .brand-slider__inner
    h2.brand-slider__header брeнды
    .brand-slider__slider
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-sits.png", alt="logo sits")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-gaber.png", alt="logo gaber")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-benix.png", alt="logo benix")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-nap.png", alt="logo nap")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-fameg.png", alt="logo fameg")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-midj.png", alt="logo midj")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-subtile.png", alt="logo subtila")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-nicoline.png", alt="logo nicoline")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-noctis.png", alt="logo noctis")