section.brand-slider
  //- .brand-slider__conteiner.conteiner
  .brand-slider__inner
    h2.brand-slider__header брeнды
    .brand-slider__slider
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-sits.svg", alt="logo sits")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-gaber.svg", alt="logo gaber")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-benix.svg", alt="logo benix")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-nap.svg", alt="logo nap")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-fameg.svg", alt="logo fameg")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-midj.svg", alt="logo midj")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-subtile.svg", alt="logo subtila")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-nicoline.svg", alt="logo nicoline")
      .brand-slider__item
        img.brand-slider__logo(src="./img/logo-noctis.svg", alt="logo noctis")