section.category-field
  .category-field__conteiner.conteiner
    .category-field__inner
      a.category-field__title.title(href="catalog.html")
        h2 Категории товаров
      .category-field__box
        a.category-field__item.category-field__item_cushioned-furniture(href="catalog.html") Мягкая мебель
        a.category-field__item.category-field__item_chair(href="catalog.html") Стулья
        a.category-field__item.category-field__item_table(href="catalog.html") Столы
        a.category-field__item.category-field__item_store(href="catalog.html") Хранение
        a.category-field__item.category-field__item_child-room(href="catalog.html") Детская
        a.category-field__item.category-field__item_carpets(href="catalog.html") Ковры
        a.category-field__item.category-field__item_office(href="catalog.html") Офис
        a.category-field__item.category-field__item_textile(href="catalog.html") Текстиль