section.category-field
  .category-field__conteiner.conteiner
    .category-field__inner
      a.category-field__title.title(href="#")
        h2 Категории товаров
      .category-field__box
        a.category-field__item.category-field__item_cushioned-furniture(href="#") Мягкая мебель
        a.category-field__item.category-field__item_chair(href="#") Стулья
        a.category-field__item.category-field__item_table(href="#") Столы
        a.category-field__item.category-field__item_store(href="#") Хранение
        a.category-field__item.category-field__item_child-room(href="#") Детская
        a.category-field__item.category-field__item_carpets(href="#") Ковры
        a.category-field__item.category-field__item_office(href="#") Офис
        a.category-field__item.category-field__item_textile(href="#") Текстиль