section.collections
  .collections__conteiner.conteiner
    .collections__inner
      a.collections__title.title(href="collection.html")
        h2 Коллекции
      .collections__panel
        button.collections__button.collections__button_active Sits: Cocktail & Design
        button.collections__button Gaber: Cucaracha 
        button.collections__button Benix: Style furniture
        button.collections__button NAP:  SYSTEM BEDS
      .collections__cards
        .collections__cards-slider
          .collections__collection-card-wrapper
            include ../../common/collection-card.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card.pug
          .collections__collection-card-wrapper
            include ../../common/collection-card.pug
        .collections__pagination-slider
          .collections__pagination-item 1
          .collections__pagination-item 2
          .collections__pagination-item 3
          .collections__pagination-item 4
          .collections__pagination-item 5