section.delivery
  h2.delivery__header доставка
  .delivery__info-side
    .delivery__info-box
      .delivery__icon-wrapper
        img.delivery__icon(src="./img/car.svg", alt="icon")
      .delivery__text
        span.delivery__text-item - Осуществляем доставку по всему Казахстану (условия оговариваются индивидуально)
        span.delivery__text-item - Самовызов. Смотреть адреса
        a.delivery__link.arrow-link.arrow-link_little(href="address.html") Подробней
    .delivery__info-box
      .delivery__icon-wrapper
        img.delivery__icon(src="./img/pay-cards.svg", alt="icon")
      .delivery__text
        span.delivery__text-item - Наличный расчет
        span.delivery__text-item - Безналичный расчет
        span.delivery__text-item - Оплата по счету
  .delivery__cover-side
    .delivery__img-wrapper
      img.delivery__img(src="./img/delivery-bg.jpg", alt="доставка")