section.product-slider
  .product-slider__conteriner.conteiner
    .product-slider__inner
      a.product-slider__title.title(href="#") Товары со скидкой
      .product-slider__card-box
        .product-slider__card-box-inner
          .product-slider__card
            include ../../common/card-product-no-sale.pug
          .product-slider__card
            include ../../common/card-product-no-sale.pug
          .product-slider__card
            include ../../common/card-product-no-sale.pug
          .product-slider__card
            include ../../common/card-product-no-sale.pug
          .product-slider__card
            include ../../common/card-product-no-sale.pug
          .product-slider__card
            include ../../common/card-product-no-sale.pug
          .product-slider__card
            include ../../common/card-product-no-sale.pug
          .product-slider__card
            include ../../common/card-product-no-sale.pug