section.subscribe-section
  .subscribe-section__bg
  .subscribe-section__subscriber.subscriber
    .subscriber__title.title.title_big
      h2 Подпишитесь
    span.subscriber__description Чтобы быть в курсе всех акций и новинок
    form.subscriber__form(action="#")
      input.subscriber__input(type="email", placeholder="Введите e-mail*")
      button.subscriber__button.button(type="cubmit") Подписаться