.button {
  width: 219px;
  padding: 11px 33px;

  background-color: $background-button;
  border: none;
  cursor: pointer;

  color: $white;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.47;
  &_wide {
    width: 274px;
  }
  &_max-wide {
    width: 100%;
  }
  &_low {
    padding: 11px 33px 7px;
    font-size: 14px;
  }
  &:hover {
    background-color: $active-link;
  } 
}