.button {
  width: 219px;
  padding: 11px 33px;

  background-color: $background-button;
  border: none;
  cursor: pointer;

  color: $white;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.47;
  &_wide {
    width: 274px;
  }
  &:hover {
    background-color: $active-link;
  } 
}