.card {
  &__wrapper {
    position: relative;
    @include media-custom(590px)  {
      display: grid;
      grid-row: auto auto;
    }
  }
  &__card {
    width: 100%;
    height: 740px;
    @include media-custom(1440px)  {
      height: 500px;
    }
    @include media-custom(1024px)  {
      height: 450px;
    }
    @include media-custom(590px)  {
      height: 350px;
    }
  }
  &__info {
    width: 407px;
    padding: 39px 88px 49px 53px;
    background-color: $active-link;
    position: absolute;
    top: 0;
    right: 18.8%;
    @include media-custom(1440px)  {
      padding: 30px 80px 40px 50px;
      right: 5%;
    }
    @include media-custom(1024px)  {
      padding: 30px 30px 20px 20px;
      right: 8%;
      width: 300px;
    }
    @include media-custom(768px)  {
      font-size: 14px;
      width: 250px;
      height: 100%;
      display: grid;
      grid-template-rows: 1fr auto auto auto;
      right: 0;
    }
    @include media-custom(590px)  {
      position: relative;
      width: 100%;
      grid-row: 1/2;
    }
  }
  &__logo {
    display: none;
    @include media-custom(768px)  {
      display: inline;
      align-items: flex-start;
    }
    @include media-custom(590px)  {
      display: none;
    }
  }
  &__info-item {
    &:not(:last-child) {
      margin-bottom: 42px;
      @include media-custom(768px)  {
        margin-bottom: 21px;
      }
    }
  }
  &__info-header {
    color: $white;
    font-weight: 700;
  }
  &__info-text {
    color: $white;
    margin-top: 6px;
    & > a {
      display: block;
      color: $white;
      &:hover {
        color: $background-blue-lite;
      }
    }
  }
}