.category {
  position: absolute;
  top: $category-high;
  width: 100%;
  min-height: calc(100% - 112px);
  &__inner {
    position: sticky;
    z-index: 2;
    top: 0;
    display: flex;
    align-items: center;
    
    width: 100%;
    height: $category-high;
    background-color: $background-grey;
  }
  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 1fr;
  
    padding: 0;

    list-style: none;
    & li {
      font-size: 14px;
      text-align: center;
      padding: 0 10px;
      & a {
        color: $black;
        
        transition: 0.3s;
        & svg {
          width: 48px;
          height: 40px;

          transition: 0.3s;
        }
        & span {
          display: block;
        }
      }
      &:hover {
        & svg, & span {
          fill: $active-link;
          color: $active-link;
        }
      }
    }
  }
}
