.category {
  position: absolute;
  top: 112px;
  width: 100%;
  min-height: 100%;
  &__inner {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    
    width: 100%;
    height: 112px;
    background-color: $background-grey;
  }
  &__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  
    padding: 0;

    list-style: none;
    & li {
      font-size: 14px;
      text-align: center;
      padding: 0 10px;
      & a {
        color: $black;
        
        transition: 0.3s;
        & svg {
          width: 48px;
          height: 40px;

          transition: 0.3s;
        }
        & span {
          display: block;
        }
      }
      &:hover {
        & svg, & span {
          fill: $active-link;
          color: $active-link;
        }
      }
    }
  }
}
