.insta {
  position: relative;
  background-color: $background-blue;
  &__inner {
    display: flex;
    justify-content: center;
    padding: 100px 0;
    @include media-custom(1024px)  {
      padding: 60px 0;
    }
    @include media-custom(724px)  {
      padding: 50px 0;
    }
  }
  &__hider {
    position: absolute;
    z-index: 99999;
    width: 50%; height: 100px;
    margin: 0 auto;
    bottom: 50px;
    background-color: $background-blue;
    @include media-custom(1024px)  {
      width: 80%;
      bottom: 10px;
    }
    @include media-custom(890px)  {
      width: 80%;
      bottom: 6px;
    }
  }
}
  
  