.panel {
  display: flex;
  align-items: flex-end;
  height: 100%;
  &__wrapper {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 56px;
    margin-bottom: 50px;
  }
  &__header {
    margin: 0 0 20px 0;

    font-weight: 600;
    font-size: 24px;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__title {
    font-weight: 400;
    font-size: 18px;
    &_active {
      font-weight: 700;
      & > a {
        color: $black;
        &:hover {
          color: $active-link;
        }
      }
      & > ul {
        list-style: none;
        margin: 0 0 0 19px;
        padding: 0;
      }
    }
    & > a {
      color: $black;
      &:hover {
        color: $active-link;
      }
    }
    &_chb {
      & > label {
        display: flex;
        cursor: pointer;
        & > input {
          flex: 0 1 auto;
          display: none;
          &:checked + span {
            background-color: rebeccapurple;
            box-shadow:  inset 0 0 0 2px $white, inset 0 0 0 100px $black;
          }
        }
        & > span {
          display: block;
          min-width: 17px; height: 16px;
          border: 1px solid black;

          margin-right: 5px;

          transition: 0.3s;
        }
        &:hover {
          color: $active-link;
        }
      } 
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    } 
  }
  &__subtitle {
    font-weight: 400;
      margin-top: 20px;
    & > a {
      color: $black;
      &:hover {
        color: $active-link;
      }
    }
  }
}
