body.lock {
  overflow: hidden;
}
.js_popup-thx {
  display: none;
}

@keyframes notification {
  0% {visibility: visible;opacity: 100%;}
  99% {opacity: 0%;}
  100% {visibility: hidden;opacity: 0%;}
}

.notification {
  position: fixed;
  z-index: 100;
  top: 0; left: 0; right: 0;
  height: 33px;

  display: flex;
  align-items: center;
  padding: 0 10px;

  background-color: $active-link;
  opacity: 0;
  visibility: hidden;

  color: $white;
  font-weight: 600;
  font-size: 12px;
  &_play {
    animation: notification 2s cubic-bezier(1,.08,.89,.02) 0s 1 normal forwards;
  }
}



.popup {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: $active-link-opacity-60;
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;

  transition: 0.3s;
  &.open {
    opacity: 1;
    visibility: visible;
    & .popup__content {
      transform: perspective(600px) translate(0, 0%) rotateX(0deg);
      opacity: 1;
      .popup_filter & .popup__content {
        min-height: 100vh;
        width: 100%;
        transform: translate(0%, 0%);
      }
    }
  }
  &_filter {
    background-color: $black-opacity-50;
  }
  &__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &__body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    .popup_filter & {
      padding: 0 36px 0 0;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 1fr;

    position: relative;
    background-color: #ffffff;
    color: #000000;
    max-width: 1545px;
    padding: 30px 30px 40px;

    transform: perspective(600px) translate(0, -50%) rotateX(5deg);
    opacity: 0;
    transition: 0.3s;
    .popup_filter & {
      display: flex;
      flex-direction: column;
      padding: 48px 0 0 0;
      min-height: 100vh;
      width: 100%;
      transform: translate(-100%, 0%);
    }
    @include media-custom(810px)  {
      padding: 30px 10px 20px;
    }
    &_small {
      max-width: 616px;
      max-height: 184px;
      padding: 66px 131px;
      @include media-custom(890px)  {
        padding: 50px 40px;
      }
    }
    &_delivery {
      @include media-custom(700px)  {
        width: 100%;
      }
    }
    &_blue {
      background-color: $background-blue-lite;
    }
    &_delivery-grid {
      display: flex;
      flex-direction: column;
    }
  }
  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33px;
    height: 33px;

    position: absolute;
    top: 30px;
    right: 38px;

    background-image: url(../img/cross.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    font-size: 3rem;
    line-height: 0;

    transition: 0.3s;
    &_near {
      top: 14px; right: 14px;
    }
    &:hover {
      transform: rotate(90deg);
      .popup_filter & {
        transform: translate(0%, 0%);
      }
    }
    .popup_filter & {
      position: relative;
      width: 100%;
      top: auto;
      right: auto;
      padding: 0 0 0 32px;

      background: none;
      justify-content: flex-start;
      
      font-size: 24px;
      font-family: 'PlayfairDisplay', serif;
      font-style: italic;
      font-weight: 400;
      color: $black;
      &::before {
        content: '';
        position: relative;
        left: -21px;
        width: 9px; height: 19px;
        background: url(../img/arrow-filter.svg) center/contain no-repeat;
      }
    }
  }
  &__product-name {
    display: none;
  }
  /*popups - category*/
  &__category-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 56px 48px;
    transition: 0.3s;
    @include media-custom(1500px)  {
      padding: 25px 15px;
    }
    &_phantom {
      visibility: hidden;
    }
    &:hover {
      background-color: $background-grey;
    }
  }
  &__category-title {
    position: relative;
    display: block;

    margin-bottom: 25px;

    color: $black;
    font-size: 24px;
    font-weight: 600;
    &:after {
      position: absolute;
      top: -7px; right: -17px;
      content: attr(data-count);
      font-size: 18px;
      font-weight: 400;
    }
    &:hover {
      color: $active-link;
    }
  }
  &__category-stuck {
    padding: 0;
    margin: 0;
    & li {
      list-style: none;
      &:not(:last-child) {
        margin-bottom: 13px;
      }
      & a {
        position: relative;

        color: $black;
        &:after {
          position: absolute;
          top: -7px; right: -17px;
          content: attr(data-count);
          font-size: 14px;
        }
        &:hover {
          color: $active-link;
        }
      }
    }
  }
  /*popups - finder*/
  &__finder-input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__finder-input {
    width: 354px;

    padding: 13px 40px 11px 17px;

    font-size: 16px;
    line-height: 1.71;
    &::placeholder {
      color: $black-opacity-50;
    }
    @include media-custom(890px)  {
      width: 230px;
    }
  }
  &__finder-input-icon {
    position: absolute;
    width: 18px; height: 18px;
    margin-right: 19px;
    align-self: flex-end;
  }

  /*popups - delivery*/
  &__delivery-title {
    margin-top: 52px;
    margin-bottom: 83px;
    @include media-custom(810px)  {
      margin-top: 20px;
      margin-bottom: 30px;
    }
  }
  &__delivery-wrapper {
    display: grid;
    grid-template-columns: 94px minmax(200px, 350px);
    grid-column-gap: 59px;
    margin: 0 260px;
    @include media-custom(1350px)  {
      margin: 0 100px;
    }
    @include media-custom(810px)  {
      margin: 0 50px;
    }
    @include media-custom(700px)  {
      margin: 0;
      grid-column-gap: 0;
      grid-template-columns: 1fr;
      grid-template-rows: 40px auto;
    }
    &_pay {
      margin-top: 30px;
      margin-bottom: 100px;
      @include media-custom(810px)  {
        margin-top: 0;
        margin-bottom: 10px;
      }
    }
  }
  &__delivery-icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: top center;
    @include media-custom(700px)  {
      object-position: top left;
    }
  }
  &__delivery-list {
    display: grid;
    grid-template-rows: auto auto auto;
    @include media-custom(700px)  {
      margin-top: 10px;
    }
  }
  &__delivery-item {
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 27px;
      @include media-custom(810px)  {
        margin-bottom: 10px;
      }
    }
    & a {
      color: $black;
      text-decoration: underline;
      &:hover {
        color: $active-link;
      }
    }
  }
  
  /*popups - delivery*/
  &__policy-title {
    margin-top: 13px;
  }
  &__policy-text-box {
    margin-top: 56px;
  }
  &__policy-item {
    font-size: 16px;
    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
  &__policy-title {
    font-weight: 700;
    display: block;
  }
    
  /*popups - feedback*/
  &__feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 40px;
  }
  &__feedback-header {
    margin-top: 20px;
    margin-bottom: 77px;
    text-align: center;
    @include media-custom(550px)  {
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
  &__feedback-title {
    font-size: 48px;
    @include media-custom(550px)  {
      font-size: 28px;
    }
    .popup__feedback_consultation & {
      font-family: 'PlayfairDisplay', serif;
      font-style: italic;
      font-size: 36px;
    }
  }
  &__feedback-subtitle {
    margin-top: 25px;
    font-size: 24px;
    @include media-custom(550px)  {
      font-size: 16px;
      margin-top: 15px;
      width: auto;
      max-width: 300px;
    }
  }
  &__feedback-form {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 29px;
    width: 302px;
    margin-bottom: 140px;
    @include media-custom(550px)  {
      width: 100%;
      margin-bottom: 30px;
    }
  }
  &__feedback-input {
    padding: 15px 15px 19px;

    border: 1px solid $black;

    font-size: 14px;
    &::placeholder {
      color: $black;
    }
    &.js_error {
      background-color: $error-bg;
    }
  }
  &__feedback-submit {
    margin-top: 10px;
    @include media-custom(550px)  {
      margin-top: 0px;
      height: 52px !important;
    }
  }
  &__feedback-nextlink {
    display: none;
  }
    
  /*popups - thx*/
  &__thx-wrapper {
    text-align: center;
    font-size: 36px;
    margin: 60px 250px 60px;
  }
  &__thx-header {
    font-family: 'PlayfairDisplay', serif;

  }
  &__thx-message {
    margin-top: 63px;
  }

  /*popups - filter*/
  &__filter-list {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;

    & li {
      display: flex;
      padding: 0 14px 0 10px;
      &:not(:last-child) {
        border-bottom: 1px solid $black-opacity-25;
      }
      & > * {
        padding: 25px 0;

        background-color: transparent;
        border: none;
        outline: none;

        font-size: 16px;
        font-weight: 500;
        color: $black;
        text-align: left;
        &:nth-child(1) {
          flex: 1 0 auto;
        }
        &:nth-child(2) {
          display: flex;
          align-items: center;
          position: relative;
          padding-right: 13px;
          padding-left: 20px;

          font-size: 12px;
          font-weight: 400;
          &::after {
            content: '';
            width: 4px; height: 100%;
            display: block;
            position: absolute;
            right: 0;
            background: url(../img/arrow-filter.svg) center/contain no-repeat;
            transform: rotate(180deg);
          }
        }
      }
      & label {
        display: flex;
        align-items: center;
        & input {
          display: none;
          &:checked + span {
            box-shadow: inset 0 0 0 2px #ffffff, inset 0 0 0 100px #000000;
          }
        }
        & span {
          display: block;
          width: 14px; height: 14px;
          margin-right: 6px;
          border: 1px solid $black;

          transition: 0.3s;
        }
      }
    }
  }
}