.shift-widget {
  width: 412px;
  min-height: 44px;
  &__header {
    position: relative;
    padding: 10px 15px 10px 29px;

    background-color: $intro-color;
    cursor: pointer;

    font-weight: 600;
    font-size: 18px;
    color: $white;

    transition: 0.3s;
    &_by-date {
      background-color: $background-shifter;
    }
    &:after {
      content: url(../img/arrow-shift.svg);
      position: absolute;
      right: 15px;

      transform: rotate(180deg);

      transition: 0.3s;
      .shift-widget_active & {
        transform: rotate(360deg);
      }
    }
    &:hover {
      letter-spacing: 1px;
    }
  }
  &__body {
    display: flex;
    flex-direction: column;

    background-color: $white;
    border: 1px solid $border-grey;
    border-top: 0px solid transparent;
    padding: 18px 61px 28px;
    &_transparent {
      background-color: transparent;
      border: none;
      padding: 0;
    }
    &_small-padding {
      padding: 25px 29px 21px;
    }
    &.js_shift-body {
      display: none;
    }
  }
  &__line {
    height: 33px;
    &_flex {
      display: flex;
      justify-content: space-around;
    }
    &:not(:first-child) {
      margin-top: 16px;
    }
  }
  &__input-wrapper {
    flex: 0 0 40%;
    display: flex;
    align-items: flex-end;

    cursor: pointer;
  }
  &__label {
    font-size: 14px;
    color: $shift-black;

    cursor: pointer;
  }
  &__input {
    width: 76px;
    height: 25px;
    margin: 0 3px;
    padding: 0 5px;

    border: 1px solid $shift-black;
    cursor: pointer;

    color: $shift-black;
    text-align: right;
    font-size: 14px;
    -moz-appearance: textfield;
    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button {
      appearance: none;
    }
  }
  &__currency {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: $shift-black;

    cursor: pointer;
  }
  &__ranger-wrapper {
    & .irs {
      &:hover {
        & .irs-from, & .irs-to {
          &::before {
            transform: scale(1.8);
          }
        }
        & .irs-handle.from, & .irs-handle.to {
          width: 3px;
        }
        & .irs-bar, & .irs-line {
          height: 3px;
        }
      }
    }
    & .irs-from, & .irs-to, & .irs-single {
      background-color: transparent;
      color: $shift-black;

      cursor: pointer;

      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      &:before {
        transform: translateX(-1px);
        width: 5px; height: 5px;
        border-radius: 50%;
        background-color: $background-footer;
        border-top-color: $background-footer;

        transition: 0.3s;
      }
    }
    & .irs-to {
      &:before {
        transform: translateX(0px);
      }
    }
    & .irs-single {
      font-family: 'Montserrat', sans-serif;
      font-size: 14px;
      &::before {
        display: none;
      }
    }
    & .irs-min, & .irs-max {
      display: none;
    }
    & .irs-handle.from, & .irs-handle.to {
      width: 1px; height: 15px;
      background-color: $background-footer;
      border: none;

      cursor: pointer;
      & i {
        display: none;
      }
    }
    & .irs-bar{
      top: auto;
      bottom: 8px;
      height: 1px; width: 100%;
      background-color: $background-footer;
      cursor: pointer;

      transition: 0.1s;
    }
    & .irs-line {
      top: auto;
      bottom: -40px;
      height: 1px; width: 100%;

      cursor: pointer;
    }
  }
  &__ranger {
  }
  &__button-by-date {
    width: 100%;
    height: 100%;

    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    color: $shift-black;
    font-size: 12px;
    text-align: left;

    transition: 0.3s;
    &:hover {
      letter-spacing: 1px;
    }
  }
  &__checkbox {
    display: none;
    &:checked + label:after {
      box-shadow:  inset 0 0 0 4px $white, inset 0 0 0 100px $black;
    }
  }
  &__label {
    &_chb {
      display: block;
      height: 23px;
      position: relative;
      padding-left: 40px;
      font-size: 12px;
      &:after {
        content: '';
        position: absolute;
        top: 0; left: 0;
        display: block;
        width: 28px; height: 26px;
        background-color: transparent;
        border: 1px solid $black;
        transition: 0.3s;
      }
    }
  }
  &_on-sale {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
  }
}