.subscribe {
  display: flex;
  flex-direction: column;

  font-family: 'Open Sans', sans-serif;
  &__header {
    font-weight: 700;
    letter-spacing: .5px;
    text-align: center;
  }
  &__description {
    margin-top: 15px;
    font-size: 14px;
    text-align: center;
  }
  &__input-wrapper {
    display: flex;
    margin-top: 30px;
  }
  &__input {
    flex: 0 0 71.5%;
    padding: 12px 5px 12px 19px;

    border: 1px solid $white;
    font-style: italic;
    font-size: 12px;
    background-color: transparent;
    color: $white;
    @include media-custom(590px)  {
      flex: 1 0 auto;
    }
    &::placeholder {
      color: $white;
      font-style: italic;
      font-size: 12px;
      letter-spacing: .5px;
    }
    &.js_error {
      background-color: $error-bg;
    }
  }
  &__submit {
    flex: 0 0 28.5%;

    border: 1px solid $white;
    cursor: pointer;

    background-image: url(../img/arrow-quad.svg);
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: center;

    transition: 0.3s;
    @include media-custom(590px)  {
      flex: 0 0 69px;
    }
    &:hover {
      background-size: 27%;
    }
  }
}