.title {
  font-family: 'PlayfairDisplay', serif;
  font-style: italic;
  font-weight: 400;
  color: $black;
  text-align: center;

  transition: 0.3s;
  &:hover {
    color: $active-link;
  }
  & * {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    @include media-custom(890px)  {
      font-size: 26px;
    }
  }
  &_big {
    & * {
      font-size: 56px;
      font-weight: 400;
      @include media-custom(700px)  {
        font-size: 46px;
      }
      @include media-custom(590px)  {
        font-size: 26px;
      }
    }
  }
  &_small {
    & * {
      font-size: 22px;
    }
  }
  &_huge {
    & * {
      font-size: 108px;
      margin: 0;
      @include media-custom(1024px)  {
        font-size: 70px;
      }
    }
  }
}

div.title:hover {
  color: black;
}