.title {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  color: $black;
  text-align: center;

  transition: 0.3s;
  &:hover {
    color: $active-link;
  }
  & h2 {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
  }
  &_big {
    & h2, & h1 {
      font-size: 56px;
      font-weight: 400;
    }
  }
  &_small {
    & h2 {
      font-size: 22px;
    }
  }
  &_huge {
    & h1 {
      font-size: 108px;
      margin: 0;
    }
  }
}

div.title:hover {
  color: black;
}