@charset "UTF-8";

/* Slider */

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

[dir='rtl'] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Black.woff") format("woff"), url("../fonts/Montserrat-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-Italic.woff") format("woff"), url("../fonts/PlayfairDisplay-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "PlayfairDisplay";
  font-display: swap;
  src: url("../fonts/PlayfairDisplay-BoldItalic.woff") format("woff"), url("../fonts/PlayfairDisplay-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NoahGrotesque";
  font-display: swap;
  src: url("../fonts/NoahGrotesque-Regular.woff") format("woff"), url("../fonts/NoahGrotesque-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font: 1em monospace, monospace;
  /* 1 */
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font: 1em monospace, monospace;
  /* 1 */
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font: 100%/1.15 inherit;
  /* 1 */
  /* 1 */
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  /* custom scrollbar FF */
  scrollbar-color: #197BB0 #ffffff;
  scrollbar-width: thin;
}

body {
  font: 400 18px/1.219 'Montserrat', sans-serif;
  position: relative;
  margin: 0;
  /* first font */
  color: #000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* custom scrollbar webkit */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-left: #197BB0;
  box-shadow: inset 1px 0 0 0px #197BB0;
}

::-webkit-scrollbar-thumb {
  background: #004D77;
}

::-moz-selection {
  background: #004D77;
  color: #ffffff;
}

::selection {
  background: #004D77;
  color: #ffffff;
}

.main {
  position: relative;
  z-index: 1;
}

.conteiner {
  max-width: 1760px;
  margin: 0 auto;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 132px;
}

.header__logo {
  width: 189.33px;
  height: 47px;
}

.header__logo-img {
  width: 100%;
  height: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  padding: 0;
  font-size: 12px;
  font-weight: 600;
  list-style: none;
}

.header__nav-list li {
  padding: 12px 27.5px 12px;
}

.header__nav-list a {
  color: #000000;
}

.header__nav-list a:hover {
  color: #004D77;
}

.header__nav-list ._active {
  color: #004D77;
}

.header__translator-btn {
  background: transparent;
  padding: auto 9px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.header__translator-btn_active {
  font-weight: 600;
}

.header__translator-btn:hover {
  color: #004D77;
}

.header__find {
  background: url(../img/magnifier.svg) no-repeat center/45%;
  width: 14px;
  height: 14px;
  padding: 13px;
  transition: 0.3s;
}

.header__find:hover {
  background-size: 65%;
}

.header__connection {
  flex: 0 1 480px;
  min-width: 0;
}

.header__adress {
  font-size: 12px;
  color: #000000;
  text-align: right;
}

.header__adress-first {
  color: #000000;
}

.header__adress-second {
  color: #000000;
}

.header__phone {
  display: inline-block;
  width: 100%;
  margin-top: 6px;
  color: #000000;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.header__phone:hover {
  color: #004D77;
}

.category {
  position: absolute;
  top: 112px;
  width: 100%;
  min-height: calc(100% - 112px);
}

.category__inner {
  background: #f8f8f8;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 112px;
}

.category__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 1fr;
  padding: 0;
  list-style: none;
}

.category__list li {
  font-size: 14px;
  text-align: center;
  padding: 0 10px;
}

.category__list li a {
  color: #000000;
  transition: 0.3s;
}

.category__list li a svg {
  width: 48px;
  height: 40px;
  transition: 0.3s;
}

.category__list li a span {
  display: block;
}

.category__list li:hover svg,
.category__list li:hover span {
  fill: #004D77;
  color: #004D77;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 224px);
  width: 100%;
}

.intro__bg {
  width: 100%;
  height: 100%;
  background: url(../img/intro-el1.png) -45% 135%/57% no-repeat, url(../img/intro-el4.png) 112% 73%/32% no-repeat, url(../img/intro-el2.png) 38.5% 20%/15% no-repeat, url(../img/intro-el3.png) 66.5% 29%/18% no-repeat, url(../img/intro-bg.jpg) center/cover no-repeat;
  transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.intro__frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  padding: 29px 47px;
  border: 1px solid #000000;
  transition: 0.6s;
}

.intro__frame:hover {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.intro__header {
  margin: 0;
  font-size: 47px;
  font-weight: 400;
  text-transform: uppercase;
}

.intro__of {
  font: italic 400 46px 'Playfair Display', serif;
  position: absolute;
  color: #3EBBB0;
}

.intro__subtitle {
  margin: 17px 0 0;
  font-size: 47px;
  font-weight: 400;
  text-transform: uppercase;
}

.product-slider__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 85px 0 45px 0;
}

.product-slider__title {
  margin-bottom: 88px;
}

.product-slider__card-box {
  width: 100%;
  min-width: 0;
}

.product-slider__card-box-inner {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 0;
}

.product-slider__card-box-inner .slick-arrow {
  background: url(../img/arrow-slider.svg) no-repeat center/contain transparent;
  position: absolute;
  z-index: 1;
  width: 60px;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 0;
  transition: 0.3s;
}

.product-slider__card-box-inner .slick-prev:hover {
  transform: scale(1.1);
}

.product-slider__card-box-inner .slick-next {
  right: 0;
  transform: rotate(180deg);
}

.product-slider__card-box-inner .slick-next:hover {
  transform: rotate(180deg) scale(1.1);
}

.card-product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 43px 43px 0 43px;
  background: url(../img/product-border-left-bottom.svg) 5% 95%/38px no-repeat, url(../img/product-border-left-top.svg) 5% 5%/38px no-repeat, url(../img/product-border-right-top.svg) 95% 5%/38px no-repeat, url(../img/product-border-right-bottom.svg) 95% 95%/38px no-repeat;
  transition: 0.2s;
}

.card-product:after {
  background: #ffffff;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.2s;
}

.card-product:hover {
  background: url(../img/product-border-left-bottom.svg) 0% 100%/38px no-repeat, url(../img/product-border-left-top.svg) 0% 0%/38px no-repeat, url(../img/product-border-right-top.svg) 100% 0%/38px no-repeat, url(../img/product-border-right-bottom.svg) 100% 100%/38px no-repeat;
}

.card-product:hover:after {
  background: #ffffff00;
}

.card-product:hover .card-product__button {
  visibility: visible;
  opacity: 1;
}

.card-product_collection {
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin: 0;
  background: #ffffff;
}

.card-product_collection:hover {
  background: #ffffff;
}

.card-product__inner {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 33px 21px 118px;
  outline: none;
  color: #000000;
}

.card-product_collection .card-product__inner {
  width: 100%;
  align-items: flex-start;
  padding: 0;
}

.card-product__image-wrapper {
  max-width: 353px;
  max-height: 233px;
}

.card-product_collection .card-product__image-wrapper {
  align-self: center;
  max-width: none;
  max-height: 334px;
  width: 100%;
}

.card-product__image {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.card-product__header {
  margin-bottom: 13px;
  font-size: 24px;
  font-weight: 600;
}

.card-product_collection .card-product__header {
  padding: 0 20px;
}

.card-product__dimensions {
  margin-bottom: 26px;
  font-size: 14px;
  line-height: 1.79;
}

.card-product_collection .card-product__dimensions {
  padding: 0 20px;
}

.card-product__price {
  font-weight: 600;
}

.card-product_collection .card-product__price {
  padding: 0 20px;
  margin-bottom: 24px;
}

.card-product__sale {
  display: none;
}

.card-product__sale:after {
  content: attr(data-sale);
}

.card-product__sale_active {
  background: #96E9E3;
  position: absolute;
  z-index: 40;
  top: -43px;
  right: -43px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  height: 87px;
  border-radius: 50%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.card-product_collection .card-product__sale_active {
  top: 0;
  right: 0;
}

.card-product__button {
  position: absolute;
  bottom: 43px;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  transition-delay: 0.1s;
}

.card-product_collection .card-product__button {
  position: relative;
  top: 0;
  left: 0;
  bottom: auto;
  visibility: visible;
  opacity: 1;
  margin: 0 20px;
}

.card-product_collection .card-product__description {
  padding: 0 20px;
}

.see-all {
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 136px;
}

.see-all__link {
  margin-top: 25px;
}

.arrow-link {
  position: relative;
  color: #000000;
  line-height: 1.38;
}

.arrow-link_little {
  font-size: 14px;
  line-height: 1.78;
}

.arrow-link:after {
  content: url(../img/arrow-long.svg);
  position: absolute;
  left: 0;
  bottom: -12px;
  transition: 0.3s;
}

.arrow-link:hover:after {
  transform: translateX(5px);
}

.collections {
  background: #EDEDED;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 108px 0 64px;
}

.collections__panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 109px;
}

.collections__button {
  background: transparent;
  width: 284px;
  height: 43px;
  margin: 0 1px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: 0.3s;
}

.collections__button:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.collections__button_active {
  border: 1px solid #000000;
}

.collections__cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 85px;
}

.collections__cards-slider {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 0;
}

.collections__collection-card-wrapper {
  width: 100%;
  height: 738px;
}

.collections__pagination-slider {
  display: flex;
  align-items: flex-end;
  position: absolute;
  bottom: 40px;
  width: 247px;
  margin-left: 17vw;
}

.collections__pagination-slider .slick-arrow {
  background: url(../img/arrow-slider_white.svg) no-repeat center/contain transparent;
  flex: 0 0 60px;
  bottom: 0;
  z-index: 1;
  height: 30px;
  border: none;
  cursor: pointer;
  outline: none;
  font-size: 0;
  transition: 0.3s;
}

.collections__pagination-slider .slick-prev:hover {
  transform: scale(1.1);
}

.collections__pagination-slider .slick-next {
  right: 0;
  transform: rotate(180deg);
}

.collections__pagination-slider .slick-next:hover {
  transform: rotate(180deg) scale(1.1);
}

.collections__pagination-slider .slick-track {
  display: flex;
  align-items: flex-end;
  height: 50px;
}

.collections__pagination-item {
  display: flex !important;
  justify-content: center;
  align-items: flex-end;
  margin: 0 5px;
  color: #ffffff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  transition: 1s;
}

.collections__pagination-item.slick-current {
  font-size: 36px;
}

.collection-card {
  display: flex;
  height: 738px;
}

.collection-card__cover-side {
  position: relative;
  flex: 1 0 69%;
}

.collection-card__image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.collection-card__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.collection-card__brand {
  background: #BFE8E5;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 485px;
  padding: 30px 100px 50px 50px;
}

.collection-card__brand-img {
  max-width: 133px;
  max-height: 75px;
  margin-bottom: 22px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.collection-card__about-collection {
  font: italic 700 23px 'Playfair Display', serif;
  margin-bottom: 22px;
}

.collection-card__info-side {
  background: #ffffff;
  flex: 1 0 31%;
  height: 100%;
}

.collection-card__wrapper {
  height: 100%;
  padding: 10px 17px 43px 14px;
}

.delivery {
  display: flex;
}

.delivery__header {
  display: none;
}

.delivery__info-side {
  background: #BFE8E5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex: 0 0 50%;
  padding: 120px 150px 112px 330px;
}

.delivery__info-box {
  display: flex;
}

.delivery__icon-wrapper {
  margin-right: 63px;
  flex: 0 0 88px;
}

.delivery__icon {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: top center;
  object-position: top center;
}

.delivery__text {
  display: flex;
  flex-direction: column;
  width: 345px;
}

.delivery__text-item {
  display: block;
  font-weight: 600;
}

.delivery__text-item:not(:last-child) {
  margin-bottom: 20px;
}

.delivery__cover-side {
  flex: 0 0 50%;
}

.delivery__img-wrapper {
  width: 100%;
  height: 100%;
}

.delivery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.subscribe-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 631px;
}

.subscribe-section__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(205, 247, 249, 0.2), rgba(205, 247, 249, 0.2)), url(../img/softness.jpg) center/cover no-repeat;
  transition: 0.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.subscribe-section__subscriber {
  position: relative;
  z-index: 1;
  max-width: 913px;
  height: 286px;
}

.subscriber {
  background: #BFE8E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 47vw;
  height: 286px;
}

.subscriber__title {
  margin-bottom: 24px;
}

.subscriber__description {
  margin-bottom: 45px;
  font-weight: 600;
}

.subscriber__form {
  display: flex;
  align-items: flex-start;
}

.subscriber__input {
  height: 46px;
  width: 219px;
  padding: 11px 5px 7px 16px;
  margin-right: 14px;
  font-size: 12px;
}

.subscriber__input::-moz-placeholder {
  color: #000000;
  font-style: italic;
}

.subscriber__input:-ms-input-placeholder {
  color: #000000;
  font-style: italic;
}

.subscriber__input::placeholder {
  color: #000000;
  font-style: italic;
}

.subscriber__button {
  margin-left: 14px;
  border: 1px solid transparent;
}

.category-field__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 118px;
}

.category-field__title {
  margin-bottom: 113px;
}

.category-field__box {
  width: 100%;
  height: 80vw;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 24px;
}

.category-field__item {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(100%);
  transition: 0.3s;
}

.category-field__item_cushioned-furniture {
  grid-column: 1 / 7;
  background: url(../img/category_cushioned-furniture.jpg) center/cover no-repeat;
}

.category-field__item_chair {
  grid-column: 7 / 10;
  background: url(../img/category_chair.jpg) center/cover no-repeat;
}

.category-field__item_table {
  grid-column: 10 / 13;
  background: url(../img/category_table.jpg) center/cover no-repeat;
}

.category-field__item_store {
  grid-column: 1 / 5;
  background: url(../img/category_store.jpg) center/cover no-repeat;
}

.category-field__item_child-room {
  grid-column: 5 / 9;
  background: url(../img/category_child-room.jpg) center/cover no-repeat;
}

.category-field__item_carpets {
  grid-column: 9 / 13;
  background: url(../img/category_carpets.jpg) center/cover no-repeat;
}

.category-field__item_office {
  grid-column: 1 / 7;
  background: url(../img/category_office.jpg) center/cover no-repeat;
}

.category-field__item_textile {
  grid-column: 7 / 13;
  background: url(../img/category_textile.jpg) center/cover no-repeat;
}

.category-field__item:hover {
  filter: grayscale(0);
  color: rgba(255, 255, 255, 0.4);
  font-size: 36px;
}

.about-us {
  display: flex;
}

.about-us__info-side {
  flex: 0 0 50%;
}

.about-us__header {
  background: #004D77;
  padding: 87px 350px 58px 145px;
}

.about-us__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center;
  object-position: center;
}

.about-us__info {
  background: #f8f8f8;
  padding: 75px 71px 94px 45px;
}

.about-us__title {
  font: italic 56px 'Playfair Display', serif;
  margin: 0 0 70px 0;
}

.about-us__thesis:not(:last-child) {
  margin-bottom: 34px;
}

.about-us__thesis-title {
  margin: 0 0 18px 0;
  font-weight: 600;
  font-size: 18px;
}

.about-us__thesis-description {
  margin: 0;
}

.about-us__cover-side {
  position: relative;
  display: flex;
  align-items: flex-end;
  flex: 0 0 50%;
  padding: 67px 110px;
}

.about-us__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../img/about-us-bg.jpg) top center/cover no-repeat;
}

.about-us__invitation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 490px;
  height: 380px;
  position: relative;
  z-index: 1;
}

.about-us__invation-title {
  margin: 0 0 45px;
  font-weight: 600;
  font-size: 36px;
  text-transform: uppercase;
}

.about-us__invation-text {
  flex: 1 0 auto;
}

.about-us__button {
  margin-right: 58px;
}

.footer {
  background: url(../img/footer-bg.png) repeat fixed 0 0/40px #29969D;
  position: relative;
  z-index: 1;
  letter-spacing: .5px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 118px;
  padding-bottom: 70px;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.footer__logo:hover * {
  color: #CDF7F9;
}

.footer__logo:hover img {
  transform: scale(1.03);
}

.footer__logo-img {
  transition: 0.6s;
}

.footer__copyright {
  font: 400 18px/1.36 'Open Sans', sans-serif;
  margin-top: 38px;
}

.footer__address {
  max-width: 243px;
  transition: 0.3s;
}

.footer__address:hover * {
  color: #CDF7F9;
}

.footer__city {
  font-weight: 700;
}

.footer__full-address {
  display: block;
  margin-top: 10px;
  font-size: 13px;
  font-weight: 400;
}

.footer__phone {
  font-weight: 600;
  transition: 0.3s;
}

.footer__phone:hover {
  color: #CDF7F9;
}

.footer__email {
  display: block;
  margin-top: 5px;
  font-size: 14px;
  transition: 0.3s;
}

.footer__email:hover {
  color: #CDF7F9;
}

.footer__social {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 61px;
}

.footer__social-item svg {
  width: 31px;
  height: 31px;
  transition: 0.3s;
}

.footer__social-item svg use {
  fill: #ffffff;
  transition: 0.3s;
}

.footer__social-item:hover svg {
  transform: scale(1.1);
}

.footer__social-item:hover svg use {
  fill: #CDF7F9;
}

.footer__navigation-list {
  font: 14px/1.36 'Open Sans', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer__navigation-list li:not(:first-child) {
  margin-top: 12px;
}

.footer__navigation-list li a {
  transition: 0.3s;
}

.footer__navigation-list li a:hover {
  color: #CDF7F9;
}

.footer__add {
  font: 400 14px/1.36 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__delivery {
  display: block;
  border-bottom: 1px solid #ffffff;
  transition: 0.3s;
}

.footer__delivery:hover {
  color: #CDF7F9;
  border-bottom: 1px solid #CDF7F9;
}

.footer__privacy-policy {
  display: block;
  margin-top: 16px;
  border-bottom: 1px solid #ffffff;
  transition: 0.3s;
}

.footer__privacy-policy:hover {
  color: #CDF7F9;
  border-bottom: 1px solid #CDF7F9;
}

.footer__work-schedule {
  display: block;
  margin-top: 16px;
  font-weight: 700;
  font-size: 12px;
}

.footer__hours {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.footer__created-by {
  display: block;
  margin-top: 25px;
}

.footer__created-by:hover img {
  transform: scale(1.06);
}

.footer__creared-by-img {
  display: block;
  margin-left: auto;
  transition: 0.6s;
}

.footer * {
  color: #ffffff;
}

.subscribe {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

.subscribe__header {
  font-weight: 700;
  letter-spacing: .5px;
  text-align: center;
}

.subscribe__description {
  margin-top: 15px;
  font-size: 14px;
  text-align: center;
}

.subscribe__input-wrapper {
  display: flex;
  margin-top: 30px;
}

.subscribe__input {
  background: transparent;
  flex: 0 0 71.5%;
  padding: 12px 5px 12px 19px;
  border: 1px solid #ffffff;
  font-style: italic;
  font-size: 12px;
  color: #ffffff;
}

.subscribe__input::-moz-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 12px;
  letter-spacing: .5px;
}

.subscribe__input:-ms-input-placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 12px;
  letter-spacing: .5px;
}

.subscribe__input::placeholder {
  color: #ffffff;
  font-style: italic;
  font-size: 12px;
  letter-spacing: .5px;
}

.subscribe__submit {
  background: url(../img/arrow-quad.svg) no-repeat center/25%;
  flex: 0 0 28.5%;
  border: 1px solid #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.subscribe__submit:hover {
  background-size: 27%;
}

.pseudo-item {
  position: relative;
  padding: 0 !important;
}

.pseudo-item:hover > *,
.pseudo-item:focus > * {
  background: rgba(205, 247, 249, 0.9);
}

.pseudo-item:hover > *:after,
.pseudo-item:focus > *:after {
  transform: rotate(180deg);
}

.pseudo-item__link {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 35px;
  font-weight: 600;
  font-size: 12px;
  color: #000000;
  transition: 0.3s;
}

.pseudo-item__link:after {
  content: url(../img/arrow-bottom.svg);
  margin-left: 10px;
  transition: 0.3s;
}

.pseudo-item__link:hover,
.pseudo-item__link:focus {
  background: rgba(205, 247, 249, 0.9);
  text-decoration: underline;
}

.pseudo-item__link:hover:after,
.pseudo-item__link:focus:after {
  transform: rotate(180deg);
}

.pseudo-item__link:hover + *,
.pseudo-item__link:focus + * {
  visibility: visible;
  opacity: 1;
}

.pseudo-item__modal {
  background: rgba(205, 247, 249, 0.9);
  position: absolute;
  z-index: 3;
  width: 100%;
  padding: 15px 10px 15px 15px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.pseudo-item__modal:hover,
.pseudo-item__modal:focus {
  visibility: visible;
  opacity: 1;
}

.pseudo-item__part {
  display: flex;
}

.pseudo-item__part::before {
  content: '';
  flex: 0 0 30px;
  height: 30px;
}

.pseudo-item__part_delivery::before {
  background: url(../img/car.svg) no-repeat center/contain;
}

.pseudo-item__part_delivery > div > p:nth-child(2) {
  margin-top: 10px;
}

.pseudo-item__part_delivery > div > a {
  text-decoration: underline;
}

.pseudo-item__part_pay {
  margin-top: 15px;
}

.pseudo-item__part_pay::before {
  background: url(../img/pay-cards.svg) no-repeat center/contain;
}

.pseudo-item__text {
  margin-left: 10px;
}

.pseudo-item__text p {
  margin: 0;
}

.move-up {
  background: url(../img/logo-arrow.svg) no-repeat 50% 50%/80% transparent;
  position: fixed;
  z-index: 10;
  bottom: 40px;
  right: 10px;
  width: 60px;
  height: 60px;
  border: none;
  cursor: pointer;
  outline: none;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
}

.move-up_hide {
  visibility: hidden;
  opacity: 0;
}

.move-up:after {
  content: 'в начало';
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  text-align: center;
  color: #004D77;
  font-size: 12;
  font-weight: 600;
  opacity: 0;
  transition: 0.3s;
  transition-delay: 0.2s;
}

.move-up:hover {
  background-position: 50% 20%;
}

.move-up:hover:after {
  opacity: 1;
}

body.lock {
  overflow: hidden;
}

.popup {
  background: rgba(0, 77, 119, 0.6);
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s;
  /*popups - category*/
  /*popups - finder*/
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  transform: perspective(600px) translate(0, 0%) rotateX(0deg);
  opacity: 1;
}

.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: 1fr;
  position: relative;
  color: #000000;
  max-width: 1545px;
  padding: 30px 30px 40px;
  transform: perspective(600px) translate(0, -50%) rotateX(5deg);
  opacity: 0;
  transition: 0.3s;
}

.popup__content_small {
  max-width: 616px;
  max-height: 184px;
  padding: 66px 131px;
}

.popup__content_blue {
  background: #CDF7F9;
}

.popup__close {
  background: url(../img/cross.svg) no-repeat center/contain;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33px;
  height: 33px;
  position: absolute;
  top: 30px;
  right: 38px;
  font-size: 3rem;
  line-height: 0;
  transition: 0.3s;
}

.popup__close_near {
  top: 14px;
  right: 14px;
}

.popup__close:hover {
  transform: rotate(90deg);
}

.popup__category-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 56px 48px;
  transition: 0.3s;
}

.popup__category-card_phantom {
  visibility: hidden;
}

.popup__category-card:hover {
  background: #f8f8f8;
}

.popup__category-title {
  position: relative;
  display: block;
  margin-bottom: 25px;
  color: #000000;
  font-size: 24px;
  font-weight: 600;
}

.popup__category-title:after {
  position: absolute;
  top: -7px;
  right: -17px;
  content: attr(data-count);
  font-size: 18px;
  font-weight: 400;
}

.popup__category-title:hover {
  color: #004D77;
}

.popup__category-stuck {
  padding: 0;
  margin: 0;
}

.popup__category-stuck li {
  list-style: none;
}

.popup__category-stuck li:not(:last-child) {
  margin-bottom: 13px;
}

.popup__category-stuck li a {
  position: relative;
  color: #000000;
}

.popup__category-stuck li a:after {
  position: absolute;
  top: -7px;
  right: -17px;
  content: attr(data-count);
  font-size: 14px;
}

.popup__category-stuck li a:hover {
  color: #004D77;
}

.popup__finder-input-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.popup__finder-input {
  width: 354px;
  padding: 13px 40px 11px 17px;
  font-size: 16px;
  line-height: 1.71;
}

.popup__finder-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.popup__finder-input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.popup__finder-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.popup__finder-input-icon {
  position: absolute;
  width: 18px;
  height: 18px;
  margin-right: 19px;
  align-self: flex-end;
}

.title {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-weight: 400;
  color: #000000;
  text-align: center;
  transition: 0.3s;
}

.title_big h2 {
  font-size: 56px;
}

.title:hover {
  color: #004D77;
}

.title h2 {
  margin: 0;
  font-weight: 400;
  font-size: 36px;
}

div.title:hover {
  color: black;
}

.button {
  background: #197BB0;
  width: 219px;
  padding: 11px 33px;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.47;
}

.button_wide {
  width: 274px;
}

.button:hover {
  background: #004D77;
}