extends common/layout

block content
  main.main
    include includes/about/about-header.pug
    include includes/about/advantages.pug
    include includes/about/brands.pug
    include includes/about/about-invatation.pug
    include common/insta.pug