extends common/layout

block content
  main.main
    include includes/address/address-header.pug
    include includes/address/card.pug
    include includes/address/team.pug
    include includes/address/feedback.pug

    include common/insta.pug