extends common/layout

block content
  main.main
    include includes/index/intro.pug
    include common/product-slider.pug
    include common/see-all.pug
    include includes/index/delivery.pug
    include includes/index/collections.pug
