extends common/layout

block content
  main.main
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
    include includes/index/banner
