// Desctop first
$mediaWidthMobile: 480px;
$mediaWidthTablet: 767px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

//
$active-link: #004D77;
$active-link-opacity-60: rgba(0, 77, 119, 0.6);
$background-button: #197BB0;
$background-grey: #f8f8f8;
$background-grey-dark: #EDEDED;
$background-blue: #BFE8E5;
$background-blue-lite: #CDF7F9;
$background-blue-lite-opacity-20: rgba(205, 247, 249, 0.2);
$sale: #96E9E3;
$background-footer: #29969D;
$intro-color: #3EBBB0;
$button-blue: #197BB0;
$black-opacity-50: rgba(0, 0, 0, 0.5);
$black: #000000;
$white: #ffffff;


//
$header-padding: 20px;
$category-high: 112px;