// Desctop first
$mediaWidthMobile: 480px;
$mediaWidthTablet: 767px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;

//
$active-link: #004D77;
$background-grey: #f8f8f8;
$background-blue: #BFE8E5;
$background-blue-lite: #CDF7F9;
$background-blue-lite-opacity-20: rgba(205, 247, 249, 0.2);
$background-footer: #29969D;
$button-blue: #197BB0;
$black: #000000;
$white: #ffffff;