.about-invatation
  .about-invatation__conteiner.conteiner
    .about-invatation__inner
      .about-invatation__cover-side
      .about-invatation__info-side
        include ../../common/invation.pug