.about-header
  .about-header__title.title.title_big
    h1 О компании I’House
  .about-header__background
  .about-header__text
    p.
      Компания
      #[a(href="index.html") &nbsp;TOO I‘HOUSE&nbsp;]
      является ярким представителем европейской мебели в Казахстане, будучи на рынке Казахстана 5 лет!
    p У Вас не возникнет затруднений при выборе мебели, ведь консультанты нашей студии с удовольствием помогут определиться с дизайном, цветовыми решениями и материалами, учитывая все Ваши пожелания и особенности квартиры, дома или офиса.