.advantages
  .advantages__cover
  .advantages__info
    .advantages__title.title
      h2 Почему I‘HOUSE - лучшая студия для приобретения мебели?
    .advantages__advantage-list
      .advantages__advantage
        img.advantages__icon(src="./img/icon-exclusivity.svg", alt="Эксклюзивность")
        .advantages__description
          h3.advantages__description-header Эксклюзивность
          span.advantages__ddescription-text Являемся прямым поставщиком знаменитых европейских производителей на территории Казахстана.
      .advantages__advantage
        img.advantages__icon(src="./img/icon-quality.svg", alt="Высокое качество")
        .advantages__description
          h3.advantages__description-header Высокое качество
          span.advantages__ddescription-text Поставляем продукцию проверенных годами производителей мебели и имеем все сертификаты, подтверждающие качество.
      .advantages__advantage
        img.advantages__icon(src="./img/icon-eco.svg", alt="Экологичность")
        .advantages__description
          h3.advantages__description-header Экологичность
          span.advantages__ddescription-text Вся мебель производится из экологичных материалов.
      .advantages__advantage
        img.advantages__icon(src="./img/icon-target.svg", alt="Цель")
        .advantages__description
          h3.advantages__description-header Наша цель – привнести в вашу жизнь и ваш дом комфорт, уют и красоту!