.brands
  .brands__conteiner.conteiner
    .brands__inner
      img.brands__item(src="./img/logo-sits.svg", alt="logo sits")
      img.brands__item(src="./img/logo-gaber.svg", alt="logo gaber")
      img.brands__item(src="./img/logo-benix.svg", alt="logo benix")
      img.brands__item(src="./img/logo-nap.svg", alt="logo nap")
      img.brands__item(src="./img/logo-subtile.svg", alt="logo subtila")
      img.brands__item(src="./img/logo-nicoline.svg", alt="logo nicoline")
      img.brands__item(src="./img/logo-noctis.svg", alt="logo noctis")
      img.brands__item(src="./img/logo-midj.svg", alt="logo midj")
      img.brands__item(src="./img/logo-fameg.svg", alt="logo fameg")