section.catalog-header
  .catalog-header__header
    .catalog-header__breadcrumbs.breadcrumbs
      ul.breadcrumbs__list
        li
          a(href="index.html") Главная
        li
          a(href="catalog.html") Каталог
        li
          span Мягкая мебель
    .catalog-header__title.title.title_big
      h2 Мягкая мебель
    .catalog-header__panel
      button.catalog-header__button.catalog-header__button_active Диваны
      button.catalog-header__button Угловые диваны 
      button.catalog-header__button Диваны-кровати
      button.catalog-header__button Кресла