.products
  include ../../common/card-product-no-sale.pug
  include ../../common/card-product-no-sale.pug
  include ../../common/card-product-no-sale.pug
  include ../../common/card-product-no-sale.pug
  .products__pagination