.products
  include ../../common/card-product-no-sale.pug
  include ../../common/card-product-no-sale.pug
  include ../../common/card-product-no-sale.pug
  include ../../common/card-product-no-sale.pug
  .products__pagination
    .products__pagination-slider
      button.products__pagination-item 1
      button.products__pagination-item 2
      button.products__pagination-item 3
      button.products__pagination-item 4
      button.products__pagination-item 5